[Desktop Entry]
Type=Application
Version=0.0.1
Name=nord_nm_gui
Comment=Graphical NordVPN client
# Path="$current_dir"/nord_vpn
Exec=nordvpn-gui
# Icon="$current_dir"/nord_vpn/nordvpnicon.ico
Terminal=false
Categories=Internet;System;Utilities;
