# Install to ~/.local/share/applications
# Dependencies:
# network-manager-openvpn, network-manager-openvpn-gnome (debian)
# NetworkManager-openvpn, NetworkManager-openvpn-gnome (fedora)
# networkmanager-openvpn (arch)
[Desktop Entry]
Type=Application
Version=0.1.0
Name=nord-nm-gui
Comment=Graphical NordVPN client
Exec=nord-nm-gui
# Icon="$current_dir"/nord_vpn/nordvpnicon.ico
Icon=/home/chris/.local/lib/python3.10/site-packages/nord_nm_gui/assets/icon.svg
Terminal=false
Categories=Internet;System;Utilities;
